<div class="align-center">
  <h1>Images and Coordinates for <%= @video.name %></h1>

  <%= link_to 'Go Back', videos_path %>
  <br>
  <%= link_to 'Delete all', video_path(@video), data: {
    turbo_method: :delete,
    turbo_confirm: "Are you sure?"
  } %>

  <br>

  <ul class="align-left">
  <% @video.images.each do |image| %>
    <li>
      <%= link_to image.name, image_path(image) %>
      <span>- Coordinates: <%= "#{image.latitude}, #{image.longitude}" %></span>
    </li>
  <% end %>
  </ul>
</div>